.searchblock {
  display: flex;
  flex-direction: column;

  padding: 20px 16px;

  align-items: center;
  justify-content: center;

  height: fit-content;

  background-color: var(--c2);
  color: white;
}

.searchblock > .logo{

  margin-bottom: 16px;

  width: 50%;
  min-width: 200px;
  max-width: 350px;

}

.subinfo {
  text-align: center;
  margin: 0 0 16px 0; 
}

.SearchBar {
  padding: 4px 14px;
  border-radius: 50px;
  width: 30%;
  min-width: 80px;
  max-width: 100px;
  transition: all .5s;
  border: none;
  outline: none;
}

.SearchBar:focus {
  min-width: 200px;
  max-width: 400px;
}

.module-container {
  padding: 18px;

  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 150px;

  gap: 18px;
;
}

.module-card {
  padding: 8px;

  display: flex;
  flex-direction: column;

  align-items: center;

  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.235);
  border-radius: 8px;
}

.module-card .title {
  margin: 0 0 8px 0;
  font-weight: bold;
  text-align: center;
}

.module-card .description {
  margin: 0;
  color: rgb(104, 104, 104);
  font-style: italic;
  text-align: center; 
}

.module-card .button {
  padding: 2px 8px;
  width: calc(100% - 16px);
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 600;
  margin-top: auto;
}

.balloon {
  padding: 16px;
  margin: 6px 0;
  
  display: flex;
  align-items: center;

  width: calc(100% - 22px);
  height: fit-content;

  color: #ffffff;

  border-radius: 8px;
}

.balloon a:link {
  text-decoration: none;
}

.balloon a {
  font-weight: 600;
  color: #ffffff;
  background-color: #ffffff4b;
  padding: 2px 12px;
  border-radius: 8px;
  transition: all .25s;
}

.balloon a:hover {
  font-weight: 600;
  color: #ffffff;
  background-color: #03030377;
  padding: 2px 12px;
  border-radius: 8px;
}

.balloon .container > * {
  display: flex;
  align-items: center;
}

.balloon > .content > * {
  margin: 0;
}

.balloon.info {
  background-color: #2CC0FF;
}

.balloon.warning {
  background-color: #ffa42c;
}

.balloon > .icon {
  height: 32px;
  padding-right: 16px;
}

.script {
  background-color: #072131;
  padding: 6px;
  counter-reset: element;   
}

.script > * {
  margin: 4px 0;
  color: #d6d6d6;
}

.script > *::before {
  counter-increment: element;               
  content: counter(element);
  margin: 6px 14px 6px 6px;
  color: #aaaaaa;
  font-weight: 600;
  font-size: 12px;
}


