@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --c1: hsl(218, 50%, 5%);
    --c2: hsl(218, 50%, 15%);

    --action: rgb(0, 204, 255);

    --gray: rgb(239, 239, 239);
    --blue: rgb(19, 161, 255);
    --class: rgb(255, 19, 196);
    --path: rgb(0, 0, 0);
    --string: rgb(41, 255, 95);
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;

  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  height: 100%;

  overflow-y: auto;
  overflow-x: hidden;
}

.navbar {
  padding: 10px 16px;
  
  display: flex;
  flex-direction: row;

  width: auto;

  background-color: var(--c1);
}

.navbar-ul {
  margin: 0 0 0 8px;
  padding: 0;

  display: flex;
  flex-direction: row;

  list-style: none;
}

.nav-item {
  margin-left: 8px;
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.navbar .logo {
  height: 20px;
}

.class {
  margin-left: .5em;
  padding: 2px 6px;
  background-color: var(--gray);
  color: var(--class);
  border-radius: 8px;
}

.path {
  margin-left: .5em;
  padding: 2px 6px;
  background-color: var(--gray);
  color: var(--path);
  font-weight: 300;
  font-style: italic;
  border-radius: 8px;
}

.string {
  margin-left: .5em;
  padding: 2px 6px;
  background-color: var(--gray);
  color: var(--string);
  border-radius: 8px;
}

.string::before {
  content: '"';
}

.string::after {
  content: '"';
}

.link {
  margin-left: .5em;
  padding: 2px 6px;
  background-color: var(--gray);
  color: var(--blue);
  border-radius: 8px;

  white-space: pre-wrap; /* CSS3 */    
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */    
  white-space: -o-pre-wrap; /* Opera 7 */    
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.hide {
  visibility: hidden;
  position: absolute;
}

.chapter {
  margin: 0 0 26px 0;
}

.chapter > .title {
  margin: 0 0 16px 0;
}

.section {
  margin: 0 0 20px 0;
}

.section > .title {
  margin: 0 0 8px 0;
}

.section > * {
  margin: 0;
}